body {
    background-color: aquamarine;
    font-family: 'Segoe UI';
    text-align: center;
}

main {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.GameName{
    color: red;
    font-weight: bold;
}

.navbar {
    background-color: white;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative; 
    top: 0;
    width: 100%;
}

.navbar a {
    color: black;
    font-size: 20px;
    background-color: grey;
    padding: 15px 25px;
    text-decoration: none;
    align-items: center; 
    display: flex;
    min-width: 140px;       
    height: 50px;  
    border-radius: 8px;
    font-weight: bold;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: cyan;
    color: red;
}

.onlineGamePartText{
    font-size: 20px;
    color: black;;
}

.homePageButton{
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: grey;
    padding: 10px 20px;
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 23px;
    
}

.homePageButton:hover {
    text-decoration: underline;
    color: red;
    background-color: cyan;
}

.about{
    font-size: 18px;
}

.footerbar{
    background-color: gray;
    padding: 6px 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    margin-top: 0px;
}

.newsAndInfoScrollBar{
    background-color: white;
    padding: 20px;
    margin: 50px auto 40px auto;
    width: 80%;
    max-width: 700px;
    height: 350px;             
    overflow-y: scroll; 
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: left;
}

.newGameBar{
    background-color: white;
    padding: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 80px;
    margin-bottom: 90px;
    margin-left: -320px;
}

.newGameBar p{
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .newGameBar {
        width: 95%;
        padding: 10px;
        margin-top: 20px;
        display: inline;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .navbar a {
        min-width: auto;
        width: 100%;
        justify-content: center;
    }

    .newsAndInfoScrollBar {
        width: 95%;
        height: 250px;
        margin: 30px auto;
    }

    .homePageButton {
        position: static; 
        margin: 10px auto;
        width: auto;
    }
}